@import url(https://weloveiconfonts.com/api/?family=brandico);

.chef, .forces {
	width: 150px;
	height: 150px;
}
h1 {
	line-height: 3rem;
	margin-bottom: 4rem;
	font-size: 35px;
}
.portfolio-object {
	max-width: 250px;
	margin: 1rem 0;
}
@media (max-width: 768px) {
	.portfolio-wrapper {
		justify-content: center;
	}
}