html.body {
	font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
	font-style: normal;
	font-variant: normal;
	font-weight: 400 ;
	line-height: 20px;
	font-size: 1rem ;
	color: #303137;
	margin: 0;
	background-color: wheat;
	}
.navbar, .container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;	
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
}
.sansai {
	color: #66B6D3;
}

.brand, .navlink {
	text-transform: uppercase;
	color: #303137;
}
.brand {
	font-size: 25px;
}
.topnav .navlink, a {
	text-decoration: none;
	padding-left: 20px;
}
.topnav {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.dropdownlink {
	display: none;
}
header 
{
	display: flex;
	justify-content: center;
}
.headershot {
	display: flex;
	flex-direction: column;
	text-align: center;
	
}
.headshot {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	width: 100%;
}
.services {
	background-color: #F1F3Fa;
	padding: 2rem 1rem; 
}
.media-object {
	display: flex;
	align-items: center;
	padding: 4rem 1rem;
}
.image-left, .image-right {
	flex: 1;
	display: flex;
	justify-content: center;
	}
.image-left, .blurb-right {
	order: 1;
}
.blurb-left, .blurb-right {
	flex: 1;
}
.image-right, .blurb-left {
	order: 2;
}
.blurb-header {
	font-size: 24px;
	margin-top: 0;
}
.oli-left {
	margin: 0;
}
.icon {
	width: 180px;
}
.section-header {
	text-align: center;
	padding: 0 6rem;
}
.portfolio-wrapper
{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
}
.portfolio-object {
	max-width: 250px;
	margin: 1rem 0;
}
.portfolio-box {
	width: 250px;
	height: 250px;
	background-color: #F1F3Fa;
	transition: .2s ease-in-out;
}
.portfolio-box:hover
{
	cursor: pointer;
	transform: scale(1.1);
}
.blurb-info {
	font-size: 16px;
	color: #646B90;
}
@media (max-width: 768px) {
	ul.topnav li a.navlink {
		display: none;
	}
	ul.topnav li.dropdownlink {
		display: block;
		position: absolute;
		top: 15px;
		right: 20px;;
	}
	ul.topnav.responsive li.dropdownlink {
		position: absolute;
		top: 15px;
		right: 20px;
		
	} 
	ul.topnav.responsive {
		flex-direction: column;
		text-align: right;
	}
	ul.topnav.responsive li {
		position: relative;
		top: 30px;
		right: 30px;
	}
	ul.topnav.responsive li a.navlink {
		display: block;
		line-height: 2;
	}
}